"*":
  "atom-beautify":
    c:
      beautify_on_save: true
    cpp:
      beautify_on_save: true
      default_beautifier: "clang-format"
    executables:
      "clang-format":
        path: "/Applications/clang+llvm-4.0.1-x86_64-apple-macosx10.9.0/bin/clang-format"
    general:
      _analyticsUserId: "63ff2de1-36b5-48f5-b935-80618e59fcc6"
      analytics: false
    js:
      beautify_on_save: true
      brace_style: "collapse-preserve-inline"
      end_with_newline: true
    python:
      beautify_on_save: true
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  "autocomplete-clang":
    "std c++": "c++14"
  core:
    allowPendingPaneItems: false
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "whitespace"
    ]
    excludeVcsIgnoredPaths: false
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
  editor:
    fontSize: 10
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 8
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "3d695c80-cfe5-0bd8-6002-d01ebb4dc257"
  "linter-clang":
    clangDefaultCppFlags: "-Wall -std=c++14"
  "linter-eslint":
    disableWhenNoEslintConfig: false
  "linter-ui-default": {}
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "tree-view": {}
  welcome:
    showOnStartup: false
  wordcount:
    alwaysOn: true
".python.source":
  editor:
    tabLength: 4
