"*":
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  core:
    allowPendingPaneItems: false
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "whitespace"
    ]
    excludeVcsIgnoredPaths: false
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
  editor:
    fontSize: 10
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 8
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "3d695c80-cfe5-0bd8-6002-d01ebb4dc257"
  jsformat:
    max_preserve_newlines: 2
  "linter-eslint":
    disableWhenNoEslintConfig: false
    useGlobalEslint: true
  "linter-ui-default":
    panelHeight: 165
    showPanel: true
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "tree-view":
    alwaysOpenExisting: true
  welcome:
    showOnStartup: false
  wordcount:
    alwaysOn: true
".python.source":
  editor:
    tabLength: 4
